body{
    color: aliceblue;
}

.choice-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(127, 67, 182);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(127, 67, 182);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color:aliceblue;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

@media screen and (max-width: 760px) {
    .choice-container {
        min-width: 40rem;
    }  
}